<div class ='card marging-top'>
    <div class ='card-header'>
        <h4>{{pageTitle}}</h4>
    </div>
   <!-- <div class='card-body'>
        <div class="row">
            <div class="col-md-3">Code:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'product.productCode' class="input-upper">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Name</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'product.productName' class="input-upper">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Release Date</div>
            <div class="col-md-4">
                <input type="date" [(ngModel)] = 'product.releaseDate'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Price</div>
            <div class="col-md-4">
                <input type="number" [(ngModel)] = 'product.price'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Description</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'product.description' class="input-upper">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Rating</div>
            <div class="col-md-4">
                <input type="number" [(ngModel)] = 'product.starRating'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary" (click) = 'save()'>
                    Save
                </button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" (click) = 'cleanScreen()'>
                    Cancel
                </button>
            </div>
        </div>
    </div>-->
    <form [formGroup]="productForm" (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-2">Code:</div>
            <div class="col-md-4">
                <input id="product-code" type="text" formControlName="productCode" class="input-upper">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">Product Name:</div>
            <div class="col-md-4">
                <input id="product-name" type="text" formControlName="productName" class="input-upper">
            </div>            
        </div>
        
        <div class="row">
            <div class="col-md-2">Release Date</div>
            <div class="col-md-4">
                <input type="date" formControlName = 'releaseDate'>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">Price</div>
            <div class="col-md-4">
                <input type="number" formControlName = 'price'>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">Description:</div>
            <div class="col-md-4">
                <input type="text" formControlName = 'description' class="input-upper">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">Rating:</div>
            <div class="col-md-4">
                <input type="number" formControlName = 'starRating'>
            </div>
        </div>

        <br/>
        <p class='' *ngIf='!errorMessage && !infoMessage'>Complete the form to enable button.</p>
        <button type="submit" [disabled]="!productForm.valid">Save</button>
        <p class='infoMessage' *ngIf='infoMessage'>{{infoMessage}}</p>
        <p class='errorMessage' *ngIf='errorMessage'>{{errorMessage}}</p>
    </form>
    
    <div class='card-footer'>
        <button class="btn btn-outline-secondary" (click)="onBack()" style ="width:200px">
           <i class='fa fa-chevron-left'></i> Back to Product List
        </button>
    </div>
</div>